$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding: 0;
  background: #ffffff url("../images/blue.jpg") no-repeat right top;
  font-family: 'Oswald', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
.header {
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FD6250;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  h4 {
    text-transform: uppercase;
    color: white;
  }

  img {
    width: 30px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
  padding: 0;
  .news-container {
    padding: 17px;
    background-color: #EDEDED;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.new-summary {
  cursor: pointer;
  cursor: hand;
  padding: 16px;
  background-color: white;
  margin: 8px 0;
  img {
    width: 70px;
    max-width: 100%;
    border-radius: 50%;
  }
  h4 {
    text-transform: uppercase;
  }
}

.new {
  background-color: white;
  margin: 8px 0;
  .new-content {
    padding: 16px;
  }
  .new-img {
    padding: 0;
  }
  img {
    max-width: 100%;
    min-height: 100%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  body {
    padding: 80px;
  }

  .container {
    max-width: 730px;
    .news-container {
      padding: 50px;
    }
  }

  /* Space out the masthead */
  .header {
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}
